
// Fonts modified by Tom

$roboto:"roboto";
$poppins:"poppins";

// Colors modified by Tom

$quickwhite:#f4f4f4;
$quickgrey: #cbcbcb;
$quickred:#c8102e;
$quickblack: #2f2f2f;

// Spacing
$pad: 1em;

// Breakpoints
$smallBreakpoint : 600px;
$largeBreakpoint : 1080px;

// Font Sizing
$baseFontSize      : 16px;
$baseLineHeight    : 1.5;
$headingLineHeight : 1.2;