
body{
    background-color: $quickgrey;
}
.cards {
    width:90vw;
    margin : auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:10vw;
}

.cards__wrapBurger{
    width:40vw;
    background-color: $quickblack;
    color:$quickwhite;
    box-shadow: 5px 5px 10px 2px $quickgrey;
    border-radius: 10px;
    &__illustration {
        width:90px;
    }
    &__burgerName {
        font-family: $roboto;
        // color:$quickwhite;
    }
    &__description {
        // color:$quickwhite;

    }
    &__wrapPrice {
        &__price{
            // color:$quickwhite
        }
        &__add {

        }
    }
}