.category {
    width: 375px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    background-color: $quickwhite;
}  


#category__list {

    list-style:none ;
    display: inline-flex;
    position: relative;
    justify-content:space-around;
    align-items: center;
    padding-left: 0;
    margin-top: 5px;
    
}

.category__title {
    font-family: $roboto;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.category__list__item {

    background:$quickred;
    color:$quickwhite;
    width: 65px;
    height: 25px;
    text-align: center;
    font-family: $poppins;
    font-size: 14px;
    font-weight: 900;
    padding: 4px;
    border-radius: 5px;
    border-color: $quickwhite;
    border-width: 1px;

}



