
.header {
    width: 375px;
    height: 200px;
    background-color: $quickblack;
    position: sticky;
}

.header_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_title {
    margin-left: auto;
    margin-right: auto;
    font-family: $roboto;
    color: $quickwhite;
}

.logo_burger {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.container_text {
    display: flex;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    font-family: $poppins;
    color: $quickwhite;
    font-size: 24px;
}
    