
.container_header {
    width: 375px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2px;
    background: {
        image:url("/assets/images/Header_keller.jpeg");
        size: cover;
    }
    
    margin: {
        left:auto;
        right: auto;
    }

    text-align: center;
    font-family: $roboto;
    color: $quickwhite;
    
}

